<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    <ion-title>Koniec</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            Film na dziś:
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            Jakiś ciekawy tytuł fajnego
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="plakat"></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button>Pokaż inny</ion-button>
        </ion-col>
        <ion-col>
          <ion-button>Zacznij od nowa</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
