<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    <ion-title>Koniec</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col class="ion-no-padding">
            <h2>Film na dziś:</h2>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col class="ion-no-padding">
            <h1>Baby Driver</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="plakat">
          <img class="zdjecie" src="https://i.pinimg.com/originals/25/0b/8a/250b8ad47d92ba9d7d6ffeaee380afed.jpg" alt="">
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-button size="large" color="success">Pokaż inny</ion-button>
        </ion-col>
        <ion-col>
          <ion-button routerLink="/" size="large" color="warning">Zacznij od nowa</ion-button></ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
