<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/film"></ion-back-button>
      <ion-button routerLink="/home">
        Co obejrzeć
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="4" offset-sm="1">
            <ion-button routerLink="/koniec" class="main-button" expand="block" fill="solid" size="large" color="dark">Straszny</ion-button>
        </ion-col> 
        <ion-col size-sm="4" offset-sm="2">
            <ion-button routerLink="/koniec" class="main-button" expand="block" fill="solid" size="large"  color="tertiary">Krwawy</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="4" offset-sm="1">
            <ion-button routerLink="/koniec" class="main-button" expand="block" fill="solid" size="large" color="success">Na Faktach</ion-button>
        </ion-col> 
        <ion-col size-sm="4" offset-sm="2">
            <ion-button routerLink="/koniec" class="main-button" expand="block" fill="solid" size="large" color="danger">Parodia</ion-button>
        </ion-col>
      </ion-row>

      <ion-button routerLink="/koniec" class="show-more-btn" size="large" color="primary">Wybierz losowy <ion-icon name="arrow-round-forward"></ion-icon></ion-button>

    </ion-grid>  
</ion-content>
