<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Co obejrzeć
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="4" offset-sm="1">
            <ion-button routerLink="/film" class="main-button" expand="block" fill="solid" size="large" color="dark">Film</ion-button>
        </ion-col> 
        <ion-col size-sm="4" offset-sm="2">
            <ion-button routerLink="/bajka" class="main-button" expand="block" fill="solid" size="large"  color="tertiary">Bajka</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="4" offset-sm="1">
            <ion-button routerLink="/serial" class="main-button" expand="block" fill="solid" size="large" color="success">Serial</ion-button>
        </ion-col> 
        <ion-col size-sm="4" offset-sm="2">
            <ion-button routerLink="/dokument" class="main-button" expand="block" fill="solid" size="large" color="danger">Dokument</ion-button>
        </ion-col>
      </ion-row>

      <ion-button routerLink="/koniec" class="show-more-btn" size="large" color="primary">Wybierz losowy <ion-icon name="arrow-round-forward"></ion-icon></ion-button>

    </ion-grid>  
</ion-content>
